/* .movie-card {
  width: 348px;
  margin-left: 60px;
} */

.movie-card {
  width: 335px;
  height: 504px;
  border-radius: 5px;
  text-shadow: 6px 6px 12px #000000;
}

/* .movie-poster{
  height: 340px;
  width: 280px;
  margin: 0  auto;
  border: 4px solid #a52652;
} */

.movie-poster{
  height: 340px;
  width: 280px;
  margin: 0  auto;
  border: 4px solid #a52652;
  border-radius: 5px;
}

.synopsis {
  font-size:12px;
}

mat-card-header {
  margin-bottom: 10px;
}

