<mat-sidenav-container class="sidenav-container">
  <mat-sidenav
    #drawer
    class="sidenav"
    fixedInViewport="true"
    [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
    [mode]="(isHandset$ | async) ? 'over' : 'side'"
    [opened]="!(isHandset$ | async) && auth.isAuthorized()">
    <!-- <mat-toolbar color="primary">Categories</mat-toolbar> -->
    <mat-toolbar class="category-btn-group" color="primary">
        <mat-button-toggle-group #selectedMedium="matButtonToggleGroup" value="movie">
            <mat-button-toggle value="movie" [routerLink]="['movies', genres[genres.all]]">
             <div> Movies</div>
            </mat-button-toggle>
            <mat-button-toggle value="tv" [routerLink]="['tv', genres[genres.all]]">
                <div >TV</div>
            </mat-button-toggle>
            
          </mat-button-toggle-group>
    </mat-toolbar>
    <mat-nav-list *ngIf="selectedMedium.value == 'movie'">
      <!-- <a mat-list-item [routerLink]="['movies', genres[genres.all]]" routerLinkActive="router-link-active" >All</a> -->
      <a mat-list-item [routerLink]="['movies', genres[genres.action]]" routerLinkActive="router-link-active" >Action</a>
      <a mat-list-item [routerLink]="['movies', genres[genres.comedy]]" routerLinkActive="router-link-active" >Comedy</a>
      <a mat-list-item [routerLink]="['movies', genres[genres.drama]]" routerLinkActive="router-link-active" >Drama</a>
      <a mat-list-item [routerLink]="['movies', genres[genres.horror]]" routerLinkActive="router-link-active" >Horror</a>
      <a mat-list-item [routerLink]="['movies', genres[genres.scifi]]" routerLinkActive="router-link-active" >SciFi</a>
    </mat-nav-list>
    <mat-nav-list *ngIf="selectedMedium.value == 'tv'">
        <!-- <a mat-list-item [routerLink]="['tv', genres[genres.all]]" routerLinkActive="router-link-active" >All</a> -->
        <a mat-list-item [routerLink]="['tv', genres[genres.action]]" routerLinkActive="router-link-active" >Action</a>
        <a mat-list-item [routerLink]="['tv', genres[genres.comedy]]" routerLinkActive="router-link-active" >Comedy</a>
        <a mat-list-item [routerLink]="['tv', genres[genres.drama]]" routerLinkActive="router-link-active" >Drama</a>
        <a mat-list-item [routerLink]="['tv', genres[genres.horror]]" routerLinkActive="router-link-active" >Horror</a>
        <a mat-list-item [routerLink]="['tv', genres[genres.scifi]]" routerLinkActive="router-link-active" >SciFi</a>
      </mat-nav-list>
  </mat-sidenav>

  <mat-sidenav-content>
    <mat-toolbar color="primary">
      <button
      type="button"
      aria-label="Toggle sidenav"
      mat-icon-button
      (click)="drawer.toggle()"
      *ngIf="isHandset$ | async">
      <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
    </button>
    <span>BFLIX</span>
    <span class="fill-remaining-space"></span>
    <button mat-button *ngIf="auth.isAuthenticated()" [matMenuTriggerFor]="menu"><mat-icon>account_circle</mat-icon></button>
    <mat-menu #menu="matMenu">
      <button mat-menu-item>Item 1</button>
      <button mat-menu-item>Item 2</button>
      <button (click)="logout()" mat-menu-item>Logout</button>
    </mat-menu>
  </mat-toolbar>
  <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>
